<nav class="h-[125px] flex flex-row justify-between px-[15px] items-center">
  <div class="flex flex-row gap-[5px]">
    <div class="h-[42px] w-[42px] bg-white rounded-full flex justify-center items-center">
      <mat-icon class="scale-75">headphones</mat-icon>
    </div>
    <div
      class="h-[45px] p-[2.5px] text-black-primary rounded-full text-[13px] bg-white font-semibold justify-between items-center flex gap-[20px]"
    >
      <div class="flex flex-row gap-[5px] items-center">
        <div class="h-[41px] w-[41px] bg-black-50 rounded-full"></div>
        <p class="text-[12px]">Maria Janina</p>
      </div>
      <div class="h-[41px] w-[41px] hover:bg-black-50 rounded-full flex justify-center items-center">
      <mat-icon class="scale-75">keyboard_arrow_down</mat-icon>
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-[5px]">
    <div
      class="h-[45px] px-[25px] text-black-primary font-bold rounded-full text-[12px] bg-sunny-primary justify-center items-center flex"
    >
      Dashboard
    </div>
    <div
      class="h-[45px] py-[2.5px] pl-[2.5px] pr-[25px] text-black-primary rounded-full text-[13px] bg-white font-semibold justify-between items-center flex gap-[20px]"
    >
      <div class="flex flex-row gap-[15px] items-center">
        <div class="h-[41px] w-[41px] bg-black-50 rounded-full flex justify-center items-center">
          <mat-icon class="scale-75">search</mat-icon>
        </div>
        <input type="text" placeholder="Search Something" class="outline-none">
      </div>
    </div>
  </div>
</nav>
